
.calc-wrapper {
    width: 600px;
    border: 1px solid #ddd;
    box-shadow: 1px 5px 25px #ccc;
    padding: 5px;
}

.calc-wrapper sub,
.calc-wrapper sup {
    font-size: 50%;
}

button {
    width: 88px;
    height: 45px;
    text-align: center;
    margin: 4px;
}

#expression {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 25px;
    padding: 10px 20px;
    box-sizing: border-box;
    resize: none;
}

#history-wrapper {
    display: none;
    max-height: 150px;
    overflow-y: auto;
    border-bottom: 2px solid #eee;
}
.history-row {
    text-align: left;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
}

.information-content {
    text-align: left;
    padding: 10px;
    font-style: italic;
    color: #666;
    border-bottom: 2px solid #eee;
}

.hint {
    font-style: italic;
    font-size: 80%;
    color: #666;
}

#integral_result {
    max-width: 90%;
    overflow: auto;
    padding: 15px;
}

#integral_result_content {

}